package com.smartcampus.resource;
 
import javax.ws.rs.GET;
import javax.ws.rs.Path;
import javax.ws.rs.Produces;
import javax.ws.rs.core.MediaType;
import javax.ws.rs.core.Response;
import java.util.HashMap;
import java.util.Map;
 

@Path("/")
public class DiscoveryResource {
 
    @GET
    @Produces(MediaType.APPLICATION_JSON)
    public Response discover() {
        Map<String, Object> response = new HashMap<>();
 
        response.put("api", "Smart Campus Sensor & Room Management API");
        response.put("version", "1.0");
        response.put("student", "Wajih Ur Rehman");
        response.put("studentId", "w1888741");
        response.put("module", "5COSC022W - Client-Server Architectures");
        response.put("contact", "w1888741@Westminster.ac.uk");
 
        Map<String, String> links = new HashMap<>();
        links.put("rooms", "/api/v1/rooms");
        links.put("sensors", "/api/v1/sensors");
        response.put("resources", links);
 
        Map<String, String> meta = new HashMap<>();
        meta.put("description", "RESTful API for managing campus rooms and IoT sensors");
        meta.put("status", "operational");
        response.put("meta", meta);
 
        return Response.ok(response).build();
    }
}
 